footer {
  background: $bg-color-black;
  color: $primary-tx-color;
  padding: 2rem 0 0.8rem;
  position: relative;
}

.footer__container {
  display: flex;
  padding-bottom: 1.4rem;
  justify-content: space-between;
  align-items: flex-end;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 2.8rem;
    left: 7.5%;

    width: 85%;
    height: 2px;
    background: $bg-color-green;
  }
}

.footer__left {
  width: 40%;

  img {
    margin: 0 0 1rem -5rem;
  }
}

.footer__right {
  width: 40%;

  h4 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;

    &:after {
      content: "";
      display: block;
      background: $bg-color-green;
      width: 4rem;
      height: 3px;
      margin-top: 0.7rem;
    }
  }
}

.yamatekudasai-item {
  display: flex;
  align-items: start;
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 600;

  i {
    display: flex;
    align-self: flex-end;
    margin-right: 0.4rem;
  }

  &:last-child a {
    text-decoration: underline;
  }
}

.yamatekudasai:after {
  content: "";
  display:  block;
  background: $bg-color-green;
  width: 65%;
  height: 3px;
  margin-top: 1.5rem;
}

.social-medias {
  margin-top: 1rem;

  a {
    font-size: 1.7rem;
  }
}

.copyright {
  margin-top: 0.8rem;
  font-size: 0.9rem;
  font-weight: 300;
}


@media screen and (max-width: 835px) {
  .footer__container {
    flex-direction: column;
    gap: 2rem;
  }

  .footer__left {
    width: 100%;

    img {
      width: 90%;
      margin-left: -2.5rem;
    }
  }

  .footer__right {
    width: 100%;
  }
}

@media screen and (max-width: 435px) {
  .footer__container:after {
    width: 91%;
    left: 4.5%;
    bottom: 3rem;
  }

  .copyright {
    font-size: 0.8rem;
  }

} 