$primary-tx-color: #D9D9D9;
$secondary-tx-color: #000000;
$tx-color-white: #FFFFFF;
$tx-color-grey: #292929;

$color-green: #019445;
$border-color: #292929;

$bg-color-black: #1B181B;
$bg-color-white: #E0E0DE;
$bg-color-green: #00A34C;

$scroll-bar: #1B181B;
$scroll-bar-thumb: #00A34C;

$transition: all 0.4s ease;

$container-lg: 73%;
$container-md: 86%;
$container-sm: 91%;

// $box-shadow: 
